@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amber-50: #fffbeb;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh; /*Fallback if browser doesn't support svh*/
  height: 100svh;
  background: var(--amber-50);
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(17, 24, 39, 0.16) 1px,
    transparent 0
  );
  background-size: 16px 16px;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
