@import url("typography.css");

.main {
  padding: 0 2rem;
  height: 100vh; /*Fallback if browser doesn't support svh*/
  height: 100svh;
}

.container {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 800px;
  margin-top: 32px;
  box-sizing: content-box;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button:active {
  transform: translateY(4px);
  -webkit-transition: all 0.09s cubic-bezier(0.45, 1.45, 0.8, 1);
  -webkit-transition: -webkit-transform 900ms;
  transition: all 0.09s cubic-bezier(0.45, 1.45, 0.8, 1);
}
